@page "/informaticsClub/click-counter"
@inject IStringLocalizer<Resources.InformaticsClub.Lang> localizer

<div class="container p-3">
    <HxCard CssClass="shadow mt-5">
        <HeaderTemplate>
            <h2 class="card-title">@localizer.GetString("project1.heading")</h2>
        </HeaderTemplate>
        <BodyTemplate>
            <HxCardTitle dir="ltr" CssClass="text-center my-5" style="font-size:2em;font-weight:bold;">
                @(Counter>=0?Counter:" - " + Math.Abs(Counter))
            </HxCardTitle>
            <HxCardText CssClass="text-center">
                <HxButton Color="ThemeColor.Dark" OnClick="IncrementCounter">+</HxButton>
                <HxButton Color="ThemeColor.Dark" CssClass="mx-3" OnClick="DecrementCounter">-</HxButton>
                <HxButton Color="ThemeColor.Dark" OnClick="ResetCounter">@localizer.GetString("project1.button")</HxButton>
            </HxCardText>
        </BodyTemplate>
    </HxCard>
</div>

@code {
    int Counter = 0;


    void ResetCounter()
    {
        this.Counter = 0;
    }

    void IncrementCounter()
    {
        this.Counter++;
    }

    void DecrementCounter()
    {
        this.Counter--;
    }
}
