@inherits LayoutComponentBase
@using System.Globalization;


<div class="page" dir="@dir">
    <NavMenu />
    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

@code
{
    public string dir = "rtl";

    protected override void OnInitialized()
    {
        if (CultureInfo.CurrentCulture.Name == "ar-AR")
        {
            dir = "rtl";
        }
        else
        {
            dir = "ltr";
        }
    }
}