@page "/reglement"

@inject IStringLocalizer<SharedProject.Resources.Reglement.Lang> localizer


<PageTitle>@localizer["title"]</PageTitle>

<div class="container">
    <h1>@localizer["heading"]</h1>
    @*<img class="img-fluid" src="images/en-cours-de-preparation.png" />*@
</div>

@code {

}
