@page "/reglement"

@inject IStringLocalizer<SharedProject.Resources.Reglement.Lang> localizer


<PageTitle>@localizer["title"]</PageTitle>

<div class="container text-center text-white">
    <img class="img-fluid" src="/images/inprogress.png" />
    <h1>@localizer["heading"]</h1>
</div>

@code {

}
