@import '_content/Havit.Blazor.Components.Web.Bootstrap/Havit.Blazor.Components.Web.Bootstrap.bundle.scp.css';
@import '_content/InformaticsClubProjects/InformaticsClubProjects.bundle.scp.css';
@import '_content/SharedProject/SharedProject.bundle.scp.css';

/* /Pages/Home.razor.rz.scp.css */
#cover-image-container[b-15shfk2xz9] {
    position: absolute;
    left: 0;
    top: 0;
    height: 650px;
    width: 100%;
    z-index: -100;
    background-size: cover;
}

header[b-15shfk2xz9] {
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

    header #header-background[b-15shfk2xz9] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .3;
        z-index: -1;
    }

    header h1[b-15shfk2xz9] {
        font-size: 8vw !important;
        font-weight: bolder;
    }

main[b-15shfk2xz9] {
    position: relative;
    top: 20px;
}

@media (max-width: 720px) {
    #cover-image-container[b-15shfk2xz9] {
        height: 500px;
    }

    header[b-15shfk2xz9] {
        height: 250px;
    }

    main[b-15shfk2xz9] {
        top: 50px;
    }
}

iframe[b-15shfk2xz9] {
    margin: auto;
    width: 100%;
    text-align: center;
}

.card[b-15shfk2xz9] {
    max-width: 500px;
    margin: auto;
}
